#root {
  max-width: 1280px;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
}

.everything {
  display: flex;
  width: 100vw;
  padding: 0;
  margin: 0;
  /* align-items: center; */

}

.left-content,  .right-content {
  background-color: #ddd5cc;
  border: 4px solid #33281e;
  width: 25vw;
  height: calc(100vh - 40px - 8px);
  margin: 20px;
  padding-top: 0px;
  overflow: auto;
}

li {
  list-style-type: none;
}

.viewed-image {
  /* width: 20vw; */
  height: 15vw;
  margin-bottom: 10px;
}


.banned-characteristic {
  /* width: 20vw; */
  margin-bottom: 10px;
}

.viewed-image-title {
  color: #33281e;
  font-size: small;
  line-height: 2px;
}

.viewed-image-artist {
  color: #33281e;
  font-size: small;
  line-height: 2px;
  margin-bottom: 5px;
}

.none-title {
  color: #33281e;
  font-size: medium;
  margin-bottom: 5px;
}


.center-content {
  margin: 0 auto;
  align-self: center;
}

.image-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.header {
  /* margin-top: 35px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #40362d;
  /* justify-self: center; */
}

.title {
  font-size: 5vh;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 20px;
}

.subtitle {
  color: #33281e;
}

.slogan {
  line-height: 0%;
  font-size: 2vh;
  margin-top: 0px;
}

.art-title {
  line-height: 0%;
  color: #33281e;
  font-size: xx-large;
  margin-top: 30px;
  padding-bottom: 10px;
}

.art-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characteristics {
  display: flex;
  align-items: center;
  gap: 10px;
}

.characteristic:hover {
  background-color: #8a7d70;
  color: #33281e;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.main-image {
  height: 60vh;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}


.frame {
  /* picture credit: Chris Smith */
  background-color: #ddd5cc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing: border-box;
  display: inline-block;
  height: 55vh;
  padding: 8vmin;
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 65vh;
  &:before {
    border-radius: 2px;
    bottom:- 2vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top:ddd-2vmin;
  }
  &:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
  }
}


.generate {
  width: 25%;
  padding-top: 10px;
}
.generate:hover {
  background-color: #8a7d70;
  color: #33281e;
}
